.header {
  width: 100%;
  height: 200px;
  background-color: #afcce1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-image: url("https://img00.deviantart.net/495f/i/2012/261/7/6/star_wallpaper_by_roweig-d5f77yi.jpg");
  background-size: contain;

}

.one-star {
  color: white;
  font-size: 120px;
  font-weight: bold;
}
