.header {
  margin: 0;
  width: 100%;
  height: 250px;
  background-color: #021D4F;
  display: flex;
  justify-content: center;
  align-items: center; }

.one-star {
  width: 50%;
  color: white;
  font-size: 100px;
  font-weight: bold; }

.star-image {
  height: 120px;
  width: 20%; }

.nav {
  font-size: 30px;
  color: white;
  margin: 10px auto 10px auto; }

.link-container {
  float: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  width: 50%; }
