.header {
  width: 100%;
  height: 250px;
  background-color: #afcce1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-image: url("https://img00.deviantart.net/495f/i/2012/261/7/6/star_wallpaper_by_roweig-d5f77yi.jpg");
  background-size: contain;

}

.one-star {
  width: 50%;
  color: white;
  font-size: 100px;
  font-weight: bold;
}

.nav {
  font-size: 30px;
  color: white;
  margin: 10px auto 10px auto;
}

.link-container {
  float: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  width: 50%;
}
