.homepage {
  background-image: url("http://localhost:3000/images/john-cobb-13961.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px; }

.homepage-title {
  margin-top: 0px;
  padding-top: 50px;
  color: black;
  font-size: 50px; }

.search-input {
  width: 15%;
  height: 30px;
  border-radius: 25px;
  margin-bottom: 20px; }

.search-button {
  width: 5%;
  height: 30px;
  border-radius: 25px;
  cursor: pointer; }

.homepage-image {
  height: 500px;
  width: 500px; }

.choose-state {
  font-size: 30px;
  font-weight: bold; }

.select {
  font-size: 16px; }
