.homepage {
  background-color: #5a93c7;
  height: 900px;
}

.homepage-title {
  margin: 40px auto 40px auto;
  color: white;
}

.search-input {
  width: 15%;
  height: 30px;
  border-radius: 25px;
}

.search-button {
  width: 5%;
  height: 30px;
  border-radius: 25px;
}
