@import './App.scss';
@import './Header.scss';
@import './SearchResults.scss';
@import './ReviewCard.scss';
@import './Homepage.scss';
@import './Login.scss';
@import './Register.scss';

* {
  font-family: 'Titillium Web', sans-serif;
}

body {
  margin: auto;
  padding: auto;
  font-family: sans-serif;
}
