@import './App.scss';
@import './Header.scss';
@import './SearchResults.scss';
@import './ReviewCard.scss';
@import './Homepage.scss';
@import './Login.scss';
@import './Register.scss';

body {
  font-family: 'Patua One';
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
