.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: green;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.header {
  margin: 0;
  width: 100%;
  height: 250px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center; }

.one-star {
  width: 50%;
  color: white;
  font-size: 100px;
  font-weight: bold; }

.star-image {
  height: 120px;
  width: 20%; }

.nav {
  font-size: 30px;
  color: white;
  margin: 10px auto 10px auto; }

.link-container {
  float: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  width: 50%; }

.welcome-email {
  color: white; }

.login-here {
  color: white; }

.search-results {
  background-image: url("http://localhost:3000/images/hugues-de-buyer-mimeure-316782-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 95%; }

.review-card {
  flex-wrap: wrap;
  background-color: #FEEA8F;
  width: 400px;
  height: 200px;
  border: 2px solid black;
  margin: 20px auto 20px auto;
  cursor: pointer; }

.review-card:hover {
  background-color: yellow; }

.text {
  color: #031F4E;
  font-size: 24px; }

.location {
  color: #031F4E;
  font-size: 20px; }

.city {
  color: #031F4E;
  font-size: 16px; }

.state {
  color: #031F4E;
  font-size: 14px; }

.rating {
  color: #031F4E;
  font-size: 12px; }

.homepage {
  background-image: url("http://localhost:3000/images/john-cobb-13961.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px; }

.homepage-title {
  margin-top: 0px;
  padding-top: 50px;
  color: black;
  font-size: 50px; }

.search-input {
  width: 15%;
  height: 30px;
  border-radius: 25px;
  margin-bottom: 20px; }

.search-button {
  width: 5%;
  height: 30px;
  border-radius: 25px;
  cursor: pointer; }

.homepage-image {
  height: 500px;
  width: 500px; }

.choose-state {
  font-size: 30px;
  font-weight: bold; }

.select {
  font-size: 16px; }

.login {
  background-image: url("http://localhost:3000/images/matteo-catanese-401213.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px; }

.login-text {
  color: black;
  margin: 0px;
  padding-top: 100px;
  padding-bottom: 20px; }

.inputs {
  width: 15%;
  height: 30px;
  border-radius: 25px; }

.login-button {
  width: 5%;
  height: 30px;
  border-radius: 25px;
  cursor: pointer; }

.create-account {
  color: white;
  background-image: url("http://localhost:3000/images/kc-luk-188412.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px; }

.inputs {
  width: 15%;
  height: 30px;
  border-radius: 25px; }

.register-button {
  width: 5%;
  height: 30px;
  border-radius: 25px;
  cursor: pointer; }

.register-title {
  color: yellow;
  margin: 0px;
  padding-top: 100px;
  padding-bottom: 20px; }

* {
  font-family: 'Titillium Web', sans-serif; }

body {
  margin: auto;
  padding: auto;
  font-family: sans-serif; }
