.login {
  // background-color: #236494;
  background-image:url("http://localhost:3000/images/matteo-catanese-401213.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}

.login-text {
    color: black;
    margin: 0px;
    padding-top: 100px;
    padding-bottom: 20px;
}

.inputs {
width: 15%;
height: 30px;
border-radius: 25px;
}

.login-button {
  width: 5%;
  height: 30px;
  border-radius: 25px;
  cursor: pointer;
}
