.login {
  background-image: url("http://www.52dazhew.com/data/out/228/587472499-ut-desktop-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px; }

.login-text {
  color: white; }

.inputs {
  width: 15%;
  height: 30px;
  border-radius: 25px; }

.login-button {
  width: 5%;
  height: 30px;
  border-radius: 25px;
  cursor: pointer; }
