.create-account {
  color: white;
  background-image: url("http://localhost:3000/images/kc-luk-188412.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px; }

.inputs {
  width: 15%;
  height: 30px;
  border-radius: 25px; }

.register-button {
  width: 5%;
  height: 30px;
  border-radius: 25px;
  cursor: pointer; }

.register-title {
  color: yellow;
  margin: 0px;
  padding-top: 100px;
  padding-bottom: 20px; }
