.review-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #FEEA8F;
  width: 400px;
  // height: 200px;
  border: 2px solid black;
  margin: 20px auto 20px auto;
  cursor: pointer;
}


.review-card:hover {
  background-color: yellow;
}


.text {
  color: #031F4E;
  font-size: 24px;
}


.location {
  color: #031F4E;
  font-size: 20px;
}


.city {
  color: #031F4E;
  font-size: 16px;
}


.state {
  color: #031F4E;
  font-size: 14px;
}


.rating {
  color: #031F4E;
  font-size: 12px;
}

.reviews-button {
  height: 40px;
  width: 25%;
  color: white;
  background-color: black;
  border-radius: 25px;
  cursor: pointer;
}

.reviews-button:hover {
  background-color: grey;
}

.card-image {
  height: 200px;
  width: 80%;
}
